 .las-idiomas{
        background-color: red;
        color: white;
        border: none;
        cursor: pointer;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 15px 30px;
   
    }

    .las-idiomas:focus {
        outline: none;
    }
    
    .las-idiomas:hover {
    background-color: rgb(25, 25, 221);
    color: rgb(239, 177, 177);}
    
    .la-musica{
        background-color: rgb(255, 0, 0);
        color:rgb(233, 229, 237);
        border:none;
       font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        cursor:pointer;
        font-weight: bold;
        margin-right: 8px;  
        padding: 15px 30px;
    }

       .la-musica:hover{
         background-color: rgb(63, 33, 198);
         color: rgb(255, 255, 255);
        transition: background-color 0.5s;
       }
    .movies{
        background-color: rgb(255, 0, 0);
        color:rgb(233, 229, 237);
        border:none;
       font-size: 40px;
        font-weight: bold;
        cursor:pointer;
        font-family: 'Times New Roman', Times, serif;
        margin-right: 8px;  
        padding: 15px 30px
    }
    .movies:hover{
         background-color: rgb(63, 33, 198);
         color: rgb(255, 255, 255);
        transition: background-color 0.5s;
       }

       .shop{
background-color: rgb(255, 0, 0);
        color:rgb(233, 229, 237);
        border:none;
       font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        cursor:pointer;
        font-weight: bold;
        margin-right: 8px;  
        padding: 15px 30px;

       }

          .shop:hover {
    background-color: rgb(25, 25, 221);
    color: rgb(239, 177, 177);}

    
      .finance{
background-color: rgb(255, 0, 0);
        color:rgb(233, 229, 237);
        border:none;
       font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        cursor:pointer;
        font-weight: bold;
        margin-right: 8px;  
        padding: 15px 30px;

       }

          .finance:hover {
    background-color: rgb(25, 25, 221);
    color: rgb(239, 177, 177);}